<div *ngIf="tracks?.length > 0">
	<table class="table table-sm table-light table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Track</th>
				<th scope="col">Duration</th>
				<th *ngIf="!hideArtist" scope="col">Primary Artist</th>
				<th *ngIf="!hideAlbum" scope="col">Album</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let track of tracks; let i = index">
				<td>{{ i + 1 }}</td>
				<td>
					<a *ngIf="track.id" [routerLink]="['/track', track.id]">
						{{ track.name }}
					</a>
				</td>
				<td>{{ (track.duration_ms / 1000 / 60) | number:'1.0-0' }}:{{ ((track.duration_ms / 1000) % 60) | number:'2.0-0' }}</td>
				<td *ngIf="!hideArtist">
					<a *ngIf="track.artists?.length > 0 && track.artists[0]?.id" [routerLink]="['/artist', track.artists[0]?.id]">
						{{ track.artists[0]?.name }}
					</a>
				</td>
				<td *ngIf="!hideAlbum">
					<a *ngIf="track.album?.id" [routerLink]="['/album', track.album?.id]">
						{{ track.album?.name }}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="tracks?.length === 0">
	<p>No tracks were found.</p>
</div>
